:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --secondary-text-color: #555555;
  --button-bg-color: #6c63ff;
  --button-bg-hover-color: #5a52e6;
  --link-color: #d6336c;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --card-bg-color: #f9f9fb;
  --accent-color: #ff6f91;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #e0e0e0;
  --secondary-text-color: #b0b0b0;
  --button-bg-color: #d6336c;
  --button-bg-hover-color: #b0295c;
  --link-color: #6c63ff;
  --box-shadow-color: rgba(0, 0, 0, 0.5);
  --card-bg-color: #1e1e1e;
  --accent-color: #ff6f91;
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s, color 0.5s;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

button {
  justify-content: center;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
}

button:hover {
  background-color: var(--button-hover-background-color);
  transition: ease-in-out 0.3s;
}

hr {
  border: 0;
  height: 1px;
  background: var(--divider-color);
  margin: 20px 0;
}

p {
  padding: 5px;
  text-align: justify;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}