nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header {
    width: 40%;
    color: darkcyan;
}

.links {
    width: 60%;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
    line-height: 12px;
    margin-right: 20px;
}

ul li {
    margin-right: 12px;
    margin-left: 12px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: ease-in-out 0.1s;
}

a:hover {
    color: darkcyan;
}